In [1]:
import numpy as np
import pandas as pd

In [29]:
data = pd.read_csv('ex1data2.txt', sep = ',', header = None)
X = data.iloc[:,0:2]
y = data.iloc[:,2]
m = len(y)
data.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [30]:
X = (X - np.mean(X))/np.std(X)

In [31]:
X = np.hstack([np.ones([m,1]), X])

In [32]:
alpha = 0.01
num_iters = 400
theta = np.zeros([3,1])
y = y[:,np.newaxis]

In [33]:
def computeCostMulti(X, y, theta):
    m = len(y)
    temp = np.dot(X, theta) - y
    return np.sum(np.power(temp, 2)) / (2*m)

In [34]:
J = computeCostMulti(X, y, theta)
J

65591548106.45744

In [35]:
def gradientDescentMulti(X, y, theta, alpha, iterations):
    m = len(y)
    for _ in range(iterations):
        temp = np.dot(X, theta) - y
        temp = np.dot(X.T, temp)
        theta = theta - (alpha/m) * temp
    return theta

In [36]:
theta = gradientDescentMulti(X, y, theta, alpha, num_iters)
print(theta)

[[334302.06399328]
 [ 99411.44947359]
 [  3267.01285407]]

In [37]:
J = computeCostMulti(X, y, theta)
J

2105448288.6292474

In [38]:
print('Theta computed from gradient descent:\n{0}'.format(theta))
print('cost computed from gradient descent: {0}'.format(J))

Theta computed from gradient descent:
[[334302.06399328]
 [ 99411.44947359]
 [  3267.01285407]]
cost computed from gradient descent: 2105448288.6292474